@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Manrope:wght@200..800&display=swap");

@font-face {
  font-family: "Libre Caslon Condensed", sans-serif;
  src: url(https://fonts.cdnfonts.com/css/libre-caslon-text);
}
/* font-family: "Manrope", sans-serif;
font-family: 'Libre Caslon Condensed', sans-serif;
font-family: 'Neue Haas Grotesk Display Pro', sans-serif; */

/* .libre-caslon-text-regular {
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-caslon-text-bold {
  font-family: "Libre Caslon Text", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-caslon-text-regular-italic {
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: italic;
}


.manrope-<uniquifier> {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
 */

:root {
  --background-color: #fcfbf5;
  --dropshadow-hover: #d71c1c;
  --black: rgb(24, 23, 23);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Manrope", sans-serif;
  color: var(--black);
}

body {
  background-color: var(--background-color);
}

.container {
  width: 90%;
  margin: auto;
  /* background-color: blue; */
}

header {
  background-color: var(--background-color);
  /*  filter: drop-shadow(0 0 0.4rem #fcfbf5); */
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: center;

  column-gap: 2rem;

  height: 10vh;
}

.nav__list {
  list-style: none;
  display: flex;
  column-gap: 2rem;
}

.nav__links,
a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;
}

.active__link {
  color: var(--dropshadow-hover);
  filter: drop-shadow(0 0 0.6rem);
}

.nav__links:hover,
.nav__links:focus {
  color: var(--dropshadow-hover);
  filter: drop-shadow(0 0 0.6rem);
}

#nav__logo {
  width: 3rem;
  fill: var(--background-color);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 6rem;
  stroke: rgba(0, 0, 0, 0.842);
  transition: all 0.5s;
}

#nav__logo:hover {
  cursor: pointer;
  transform: rotate(180deg);
  fill: var(--black);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 6rem;
  stroke: var(--background-color);
  color: var(--black);
  filter: drop-shadow(0 0 0.6rem);
}

/* #nav__logo{
    width: 4rem;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 4rem;
    stroke: #fcfbf5;
} */

.hero__container {
  /* border: solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.hero__title {
  font-family: "Libre Caslon Text", serif;
  font-weight: 700;
  font-style: italic;
  filter: drop-shadow(0 0 0.4rem rgba(73, 72, 72, 0.433));
  font-size: calc(1rem + 5vw);
}

.hero__subtitle {
  color: rgba(44, 42, 42, 0.664);
  font-weight: 700;
  font-size: calc(0.55rem + 0.5vw);
}

.hero__resume{
  width: 30rem;
  object-fit: cover;
}
.cv__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 3rem;
  
}

.hero__button{
  border: none;
  background: none;
  cursor: pointer;
}



.pdf__container{
  display: flex;
  justify-content: center;
  
  width: 50vw;
}

/* Page Projets */

.projects__wrapper {
  /* border: solid green; */
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.section__projects {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  /* border: solid; */
}

.section__projects__title {
  font-size: large;
}

.section__projects__text {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}


.stickers__cards__wrapper {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
gap: 5rem;



}

.cards{
  background-color: var(--background-color);
  border-radius: 1rem;
  filter: drop-shadow(0 0 0.35rem rgba(142, 140, 140, 0.177));
  padding: 1rem;
  transition: all .2s; /* Animation */
  border: solid;
}

/* .card__1{
  
}
.card__2{
  background-color: var(--background-color);
  border-radius: 1rem;
  filter: drop-shadow(0 0 0.35rem rgba(142, 140, 140, 0.177));
  padding: 1rem;
  transition: all .2s;
  border: solid;
}
.card__3{
  background-color: var(--background-color);
  border-radius: 1rem;
  filter: drop-shadow(0 0 0.35rem rgba(142, 140, 140, 0.177));
  padding: 1rem;
  transition: all .2s;
  border: solid;
}
.card__4{
  background-color: var(--background-color);
  border-radius: 1rem;
  filter: drop-shadow(0 0 0.35rem rgba(142, 140, 140, 0.177));
  padding: 1rem;
  transition: all .4s;
  border: solid;
} */

.stickers__cards__wrapper div img{
  width: 100%;
  border-radius: 1em;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border: solid;
}

.stickers__cards__wrapper div:hover{
  
  cursor: pointer;
  transform: scale(0.99);
}

.grey-on-hover {
  position: relative;
  cursor: pointer;
  
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.116);
    transition: opacity .3s;
    opacity: 0;
    z-index: 2;
  }

  &:hover:before {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .gallery, .cards {
      grid-template-columns: 1fr; /* Une seule colonne sur petit écran */
  }
}


/* Page Galerie Photo */

.gallery__wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
}

.gallery__images{
  width: 100%;
  height: auto;
  object-fit: cover;
  user-select: none;
}

.footer__credit{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: var(--black);
}